.TodoItem {
  background-color: var(--secondary_color);
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 50px;
  margin-top: 24px;
  box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.15);
}

.TodoItem-p {
  width: calc(100% - 120px);
  font-size: 1.3rem;
  letter-spacing: 1px;
  text-transform: capitalize;
  font-weight: bold;
}

.TodoItem-p--complete {
  text-decoration: line-through;
  text-decoration-color: var(--accent_color);

}

.Icon {
  cursor: pointer;
  font-size: 2rem;
  font-weight: bold;
  user-select: none;
}

.Icon-check {
  transform: rotate(180deg) translate(0%, 30%);
  transition: all .3s;
}
.Icon-check:hover{
  text-shadow: 0 0 20px var(--accent_color);
}
.Icon-check--active {
  text-shadow: 0 0 20px var(--accent_color);
  color: var(--accent_color);
}

.Icon-delete {
  position: absolute;
  top: 0%;
  right: -7%;
  transform: translate(-50%, -50%);
  background-color: rgb(77 77 77);
  padding: 1% 2%;
  border-radius: 50%;
  color: black;
  font-size: 1.4rem;
}
.Icon-delete:hover {
  color: red;
}

@media only screen and (max-width: 800px) {
  .TodoItem {
    margin: 0 20px;
    margin-top: 24px;
  }
}
